.header {
  height: 20vh;
  padding: 4px;
  background: #D80000;
  font-size: 6rem;
  color: #fff;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  font-weight: 100;
}

.bold {
  font-weight: 600;
  padding: 0 16px;
}

h1 {
  background: #444444;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  margin: 8px 0 4px;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Library */

.table-head th {
  font-size: 20px;
  font-weight: 600;
  padding: 5px 12px 5px 8px;
  background: #e3f1ff;
}

table td {
  font-size: 20px;
  padding: 5px 8px;
  background: #f3f6f9;
}

.search-btn {
  background: transparent;
  border: none;
  float: right;
  cursor: pointer;
}